:root {
    --primary-color: #0f3460;
    --secondary-color: #16213e;
    --text-color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }
  
  .abrigo-list {
    h1 {
      color: var(--primary-color);
      margin-bottom: 20px;
    }
  
    h2 {
      color: var(--text-color);
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
      min-width: 200px;
      margin-top: 10px;
    }
  }
  
  .img-talher {
    width: 40px;
    background: white;
    border-radius: 15px;
    padding: 8px;
    height: 40px;
    margin: 0px;
    margin-top: 15px;
  }
  
  p {
    color: var(--text-color);
    font-size: 14px;
    margin-top: 2px;
  }
  
  .abrigo-list-item {
    font-size: 22px;
    text-align: center;
    height: 270px;
    display: flex;
    justify-content: space-between;
  }
  
  .abrigo-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .abrigo-list-item-info {
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    min-width: 240px;
  
    h3 {
      font-weight: bold;
      
    }
  }
  
  .abrigo-list-item-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 0;
  
    p,
    h4 {
      color: var(--text-color);
      font-size: 12px;
      margin-top: 2px;
    }
  
    h4 {
      font-weight: bold;
    }
  }
  