################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solidariza/FileContentIndex/1e200952-dbd8-47c1-afd0-886cda62cb36.vsidx
/.vs/Solidariza/FileContentIndex/8cdd1441-4a60-4870-9f04-e8fb4aa9d2e0.vsidx
/.vs/Solidariza/FileContentIndex/a2b63147-d22a-4445-b6ff-f4f2b2ff222f.vsidx
/.vs/Solidariza/FileContentIndex/c18a226e-bc43-480a-9710-b8c99c73a49e.vsidx
/.vs/Solidariza/FileContentIndex/f5447df7-1be0-44d9-941a-62d38839644f.vsidx
/.vs/Solidariza/FileContentIndex/c21c8d5b-76e8-4843-a610-143e544eb8f1.vsidx
/.vs/Solidariza/FileContentIndex/c7180842-27df-4b9a-aa9d-8237ee2716f9.vsidx
/.vs/Solidariza/FileContentIndex/c1a97934-b966-4c3d-8215-0dd4c670d762.vsidx
/.vs/Solidariza/FileContentIndex/5ff52296-459f-4009-8acb-ac3959b6b4ed.vsidx
